.container {
    border: 9px solid var(--red-f1);
    height: 600px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}