* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --very-black: #000000;
  --very-gris: #4a4a5a;
  --white: #FFFFFF;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

html, body {
  font-size: var(--lg);
  background-color: var(--very-gris);
} 

.title {
  max-width: 940px;
  font-size: 3.5em;
  font-family: 'Titillium Web', sans-serif;
  font-weight:700;
  line-height: 1.1;
  margin: 40px 0;
  color: var(--white);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.containerChampions {
  background-color: var(--white);
  width: 1170px;
  height: 368px;
  margin: 10px 10px 50px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  box-shadow: 0 3px 13px 1px rgb(0, 0, 0 / 9%);
  border-radius: 15px;
}

